button:hover {
  cursor: pointer;
}

.dropDown {
  width: 200px;
  margin: 0 auto;
	ul {
		transform: scale(1, 0);
		position: absolute;
		transition: transform 0.2s ease;
		transform-origin: top;
	}
	ul.show {
		transform: scale(1, 1);;
	}
  li {
    list-style: none;
		width: 200px;
  }
  button {
    width: 100%;
    padding: 15px;
    border: 1px solid black;
    border-radius: 0;
  }
  .dropDownButton {
    background: black;
    font-size: 1.1em;
    color: white;
    border-radius: 10px 10px 0 0;
  }
}


